<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anusaratrokhum.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/> -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".splashscreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".GuestActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".About.ItemaboutListActivity"
            android:label="@string/title_itemabout_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".About.ItemaboutDetailActivity"
            android:label="@string/title_itemabout_detail"
            android:parentActivityName=".About.ItemaboutListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".alert.AlertActivity" />
        <activity android:name=".Posts.postsActivity" />
        <activity android:name=".commentActivity" />
        <activity android:name=".Posts.posts1Activity" />
        <activity android:name=".Posts.posts2Activity" />
        <activity android:name=".alert.alert1Activity" />
        <activity android:name=".Touch.touchActivity" />
        <activity android:name=".Test.testActivity" />
        <activity android:name=".alert.AlertsetActivity" />
        <activity android:name=".Test.test1Activity" />
        <activity android:name=".Test.test2Activity" />
        <activity android:name=".Test.test3Activity" />
        <activity android:name=".Test.test4Activity" />
        <activity android:name=".Test.test5Activity" />
        <activity android:name=".Test.test6Activity" />
        <activity android:name=".Test.testsumActivity" />
        <activity android:name=".Questionnaire.QuestionnaireActivity" />
        <activity android:name=".Questionnaire.AnswerQuestionnaireActivity" />
        <activity android:name=".About.AboutActivity" />
        <activity android:name=".About.AnsAboutActivity"></activity>
    </application>

</manifest>